/*
## Type

    <h1>This is a heading 1</h1>
    <h2>This is a heading 2</h2>
    <h3>This is a heading 3</h3>
    <h4>This is a heading 4</h4>
    <h5>This is a heading 5</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="quiet">Quiet text: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="small">Samll text: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="small quiet">Small quiet text: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="italic">Italic: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="beefcake">Bold: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="bigger">Bigger text: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

*/
h1,.alpha{
    @include font-size($h1-size);
}
h2,.beta{
    @include font-size($h2-size);
}
h3,.gamma{
    @include font-size($h3-size);
}
h4,.delta{
    @include font-size($h4-size);
}
h5,.epsilon{
    @include font-size($h5-size);
}
h6,.zeta{
    @include font-size($h6-size);
}

html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y:scroll;
    min-height:100%;
    font-weight: 500;
}

body, button, input {
	color: $font-color;
	// -webkit-font-smoothing: antialiased;
}
::selection {
	background: mix($brand-color, $font-color, 80%);
	color: $background-color;
}
::-moz-selection {
	background: mix($brand-color, $font-color, 80%);
	color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
	line-height: $base-line-height;
	margin-bottom: 0;
}
h1, h2, h3 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-rendering: optimizeLegibility;
	font-family: $h-face;
	margin: $base-spacing-unit 0;
}
h4 {
	font-weight: 600;
}
h5, h6 {
	font-weight: 500;
}
h1 {
	line-height: $base-line-height *5;
}
h2 {
	line-height: $base-line-height *4;
}
h3 {
	line-height: $base-line-height *3;
}
p {
	margin-bottom: $base-spacing-unit;
}
.h1-size {
	@extend .bottom-margin;
	@extend .alpha;
}

.beefcake,
.strong {
	font-weight:700;
}

.weak {
	font-weight: 300;
}

.bigger {
	@include font-size($h3-size);
	line-height: $base-line-height * 1.5;
}
.centi {
    @include font-size($centi-size);
}
.small,
.milli {
    @include font-size($milli-size);
}
.micro,
.tiny {
    @include font-size($micro-size);
}

.quiet {
	color: mix($font-color, $background-color, 50%);
}

.warning {
	color: $warning-color;
}

.em, .italic {
	font-style: italic;
}

.one-line {
	line-height: $base-line-height;
}
.two-lines {
	line-height: $base-line-height * 2;
}
.three-lines {
	line-height: $base-line-height * 3;
}

.right {
	text-align: right;
}

.dark-text {
	color: $background-color;
}

code,
pre {
	tab-size: 2;
	@include font-size($h6-size);
	background-color: #111;
}
code {
	padding: $base-spacing-unit;
}

@mixin font-size-micro () {
	@include font-size($micro-size);
	font-weight: 500;
	// letter-spacing: 1px;
}
@mixin font-size-milli () {
	@include font-size($milli-size);
	font-weight: 500;
	// letter-spacing: 1px;
}
@mixin font-size-centi () {
	@include font-size($centi-size);
	font-weight: 500;
	// letter-spacing: 1px;
}
@mixin font-size-deci () {
	@include font-size($deci-size);
	// letter-spacing: 1px;
}